		<!-- about area start here	 -->
		<div class="about-area section-bottom pt-107">
			<div class="about-img">
				<img src="{{ site.about_image | relative_url }}" alt="about img">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5">
						<div class="about-title">
							<h2>{{ site.about_title }}</h2>
						</div>
						<div class="about-content">
							<p>{{ site.about_description }}</p>
						</div>
						<div class="about-feature">
							<ul>
								<li> <i class="fa fa-check"></i> {{ site.about_future_1_text }} </li>
								<li> <i class="fa fa-check"></i> {{ site.about_future_2_text }} </li>
								<li> <i class="fa fa-check"></i> {{ site.about_future_3_text }} </li>
								<li> <i class="fa fa-check"></i> {{ site.about_future_4_text }} </li>
							</ul>
						</div>
						<div class="about-btn">
							<a href="{{ site.about_btn_lint_url }}" class="btn-primary" >{{ site.about_btn_lint_text }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about area start here	 -->