		<!-- banner area start here -->
		<div class="banner-area">
			<div class="banner-img">
				<img src="{{ site.banner_image  | relative_url }}" alt="banner">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-9 col-sm-12">
						<div class="banner-info">
							<div class="banner-title">
								<h1>{{ site.banner_title }}</h1>
							</div>
							<div class="banner-content">
								<P>{{ site.banner_description }}</P>
							</div>
							<div class="banner-btn">
								<a href="{{ site.banner_btn_one_link }}" class="btn active">{{ site.banner_btn_one_text }}</a>
								<a href="{{ site.banner_btn_two_link }}" class="btn">{{ site.banner_btn_two_text }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner area end here -->