
		<!-- googlemap-ara start here      -->
       	<div class="googlemap-area">
           <div class="container-fluid acurate">
               <div class="row acurate">
                   <div class="col-sm-12 acurate">
                       <!--google map start section -->
                        <div class="google-map-area">
                             <div id="gmap" class="gmap-area"></div>
                        </div>
                        <!--google map end section -->
                   </div>
               </div>
           </div>
       </div>
       <!-- googlemap-ara start here      -->