<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="smartit-source">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon and Touch Icons -->
        <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.html">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
		<link rel="stylesheet" href="{{ 'css/font-awesome.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/flaticon.css' | relative_url }}">
		<!-- Plugin CSS -->
		<link rel="stylesheet" href="{{ 'css/bootstrap.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/animate.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/owl.carousel.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/owl.theme.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/owl.transitions.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/meanmenu.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/lightbox.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'css/magnific-popup.css' | relative_url }}">
		<!--Theme custom css -->
		<link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
		<!--Theme Responsive css-->
		<link rel="stylesheet" href="{{ 'css/responsive.css' | relative_url }}" />
		<script src="{{ 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' | relative_url }}"></script>
		{% include seo.html %}
	</head>