<!-- header area start here -->
		<header class="header-area" id="sticky">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="logo-area">
							<a href="{{ '/' | relative_url }}">
								<img src="{{ site.logo | relative_url }}" alt="cvita">
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="menu-area text-right">
							<nav class="main-menu">
								<ul>
									<li {% if page.page_name == 'home' %} class="current_menu_item" {% endif %}>
										<a href="{{ '/' | relative_url }}">Home</a>
									</li>
									
									{% for nav in site.data.navigation.header %}
                                	<li {% if page.page_name == nav.url %} class="current_menu_item" {% endif %} >
                                		<a href="{{ nav.url | relative_url}}">{{ nav.title }}</a>
                                	</li>
                                	{% endfor %}

								</ul>


                           
             
							</nav>
						</div>
					</div>
					<div class="col-md-2">
						<div class="menu-right text-right">
							<ul>
								<li class="menu-bar"><a href="#"><i class="fa fa-bars"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header area start here -->