		<!-- js file start -->
		<script src="{{ 'js/vendor/jquery-1.12.0.min.js' | relative_url }}"></script>
		<script src="{{ 'js/plugins.js' | relative_url }}"></script>
		<script src="{{ 'js/Popper.js' | relative_url }}"></script>
		<script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>
		<script src="{{ 'js/owl.carousel.min.js' | relative_url }}"></script>
		<script src="{{ 'js/isotope.pkgd.min.js' | relative_url }}"></script>
		<script src="{{ 'js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
		<script src="{{ 'js/scrollup.js' | relative_url }}"></script>
		<script src="{{ 'js/jquery.counterup.min.js' | relative_url }}"></script>
		<script src="{{ 'js/waypoints.min.js' | relative_url }}"></script>
		<script src="{{ 'js/jquery.meanmenu.js' | relative_url }}"></script>
		<script src="{{ 'js/lightbox.min.js' | relative_url }}"></script>
		<script src="{{ 'js/jquery.magnific-popup.js' | relative_url }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{ site.google_map }}"></script>
        <script src="{{ 'js/gmaps.js' | relative_url }}"></script>
		<script src="{{ 'js/main.js' | relative_url }}"></script>
		<!-- End js file -->