		<!-- Slide Menu Section Start Here -->
        <div class="slide-menu-area" id="sideSlide">
            <div class="close">X</div>
            <h3>Quick Support</h3>
            <ul>
                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> {{ site.phone }} </a></li>
                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ site.email }}</a></li>
                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i>Skype: {{ site.skype }}</a></li>
                <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Support Time: 9am-5pm</a></li>
				<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Monday - Sunday</a></li>
			</ul>
        </div>
        <!-- Slide Menu Section End Here -->